:root {
  --clr-red: #EA5454;
  --clr-green: #44D3D2;
  --clr-yellow: #FCAE4A;
  --clr-blue: #549EF2;
  --clr-gray: #4D4F62;

  --mbl-text-1: 1.5rem;
  --text-2: 1.25rem;
  --text-3: 0.9375rem;
  --text-4: 0.8125rem; 

  --dsk-text-1: 2.25rem;

  --mbl-box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100svh;
  background-color: #FAFAFA;
  padding: 1.5rem;
}

main {
  display: grid;
  align-content: center;
  justify-items: center;
}

h1,
p,
article h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: var(--mbl-text-1);
  color: var(--clr-gray);
  letter-spacing: 0.167px;
  text-align: center;
  margin-bottom: 1em;
}

h1 span {
  font-weight: 600;
}

p {
  font-weight: 300;
  font-size: var(--text-3);
  text-align: center;
  color: var(--clr-gray);
  line-height: 1.6;
  opacity: 0.5;
  max-width: 33.75rem;
}

article {
  background-color: rgb(255, 255, 255);
  box-shadow: var(--mbl-box-shadow);
  padding: 1.75em;
  border-radius: 0.5em;
  max-width: 22rem;

  display: grid;
}

article h2 {
  color: var(--clr-gray);
  font-weight: 600;
  font-size: var(--text-2);
}

article:not(:last-child) {
  margin-bottom: 1.6em;
}

article p {
  text-align: left;
  margin-bottom: 2em;
  color: var(--clr-gray);
  font-size: var(--text-4);
}

.articles {
  margin-top: 4.75em;
  margin-bottom: 3em;
}

.supervisor {
  border-top: 3px solid var(--clr-green);
}

.team-builder {
  border-top: 3px solid var(--clr-red);
}

.karma {
  border-top: 3px solid var(--clr-yellow);
}

.calculator {
  border-top: 3px solid var(--clr-blue);
}

article img {
  justify-self: end;
  align-self: end;
}

@media (min-width: 90em) {

  body {
    padding: 5em 10.3em;
  }
  
  h1 {
    font-size: var(--dsk-text-1);
    margin-bottom: 0.8125rem;
  }

  .articles {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 140px 106px 30px 140px 106px;
    column-gap: 30px;
    margin-top: 4em;
  }

  article {
    padding: 2em;
  }

  article:not(:last-child) {
    margin: 0;
  }

  .supervisor {
    grid-area: 2 / 1 / 5 / span 1;
  }

  .team-builder {
    grid-area: 1 / 2 / 3;
  }

  .karma {
    grid-area: 4 / 2 / -1;
  }

  .calculator {
    grid-area: 2 / 3 / 5;
  }
}