:root {
  --clr-red: #EA5454;
  --clr-green: #44D3D2;
  --clr-yellow: #FCAE4A;
  --clr-blue: #549EF2;
  --clr-gray: #4D4F62;

  --mbl-text-1: 1.5rem;
  --text-2: 1.25rem;
  --text-3: 0.9375rem;
  --text-4: 0.8125rem; 

  --dsk-text-1: 2.25rem;

  --mbl-box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100svh;
  background-color: #FAFAFA;
  padding: 1.5rem;
  display: grid;
  align-content: center;
  justify-items: center;
}

h1,
p,
article h2 {
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  font-size: var(--mbl-text-1);
  color: var(--clr-gray);
  letter-spacing: 0.167px;
  text-align: center;
  margin-bottom: 1em;
}

h1 span {
  font-weight: 600;
}

p {
  font-weight: 300;
  font-size: var(--text-3);
  text-align: center;
}

article {
  background-color: rgb(255, 255, 255);
  box-shadow: var(--mbl-box-shadow);
  padding: 1.75em;
  border-radius: 0.5em;
  max-width: 22rem;
  justify-self: center;
}

article:not(:last-child) {
  margin-bottom: 1.6em;
}

article p {
  text-align: left;
  margin-bottom: 2em;
}

.supervisor {
  margin-top: 4.75em;
  border-top: 3px solid var(--clr-green);
}

.team-builder {
  border-top: 3px solid var(--clr-red);
}

.karma {
  border-top: 3px solid var(--clr-yellow);
}

.calculator {
  border-top: 3px solid var(--clr-blue);
}

article img {
  display: block;
  margin-left: auto;
}